.navbar-brand {
    font-family: 'DM Serif Text', serif;
}

:root{
    --theme-colour: #fe6655;
    /* --theme-colour: #7283ff; */
}

.navbar-brand>span {
    color: white;
    font-size: larger;
}

.btn-theme-full {
    border: 0px solid red;
}

.btn-theme {
    color: #fff;
    background: var(--theme-colour);
    border-radius: 4px;
    line-height: 22px;
    height: 40px;
    width: 85px;
}

.btn-outline-theme {
    border: solid 2px white;
}

.btn-theme:hover, .btn-outline-theme:hover {
    box-shadow: 0px 2px 4px #a82233;
}

.formset {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 10%;
    top: 20%;
    background: white;
    border: 3px solid lightgray;
    border-radius: 15px;
}

.subform {
    margin: 0;
    height: 80%;
}

.subform * {
    margin-left: 5px;
    margin-top: 2px;
    width: 360px;
}

.form-group, .form-inline {
    position: relative;
    display: inline-block;
}

#background {
    z-index: -199;
    height: 80vh;
    width: 99.35vw;
    overflow: hidden;
}

#background * {
    height: 99vw;
    height: 80vh;
    overflow: hidden;
}

.main-footer {
    color: #cecece;
    background: #333;
}

.centre {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 80vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tooltip .tooltip-inner {
    background: white;
    border: 2px dashed lightgray;
    color: black;
    max-width: 350px;
    width: max-width;
}

.set-icons {
    background: radial-gradient(#36D7B7 10%, var(--theme-colour));
    color: transparent;
    background-clip: text;
    font-size: 80pt;
}

@media only screen and (max-width:720px) {
    .formset {
        position: relative;
        top: 5%;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .subform * {
        width: initial;
    }
    #background {
        display: none;
    }
}